ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    height: 70px;
}

.btn {
    width: 100%;
    height: 100%;
}

.menu-container {
    width: 600px;
    height: 500px;
    margin: 200px auto 0;
}

.list {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}




