.grid {
    margin: 0 auto;
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    width: 33.3%;
    height: 23.33333vh;
    box-sizing: border-box;
}

.picture {
    width: 70%;
    height: 60%;
    margin: auto;
    border: 1px solid #ccc;
}

@media screen and (orientation: portrait) {
    .grid {
        width: 92vw;
    }
}
@media screen and (max-height: 1366px) {
    .grid {
        height: 70vh;
    }
}
@media screen and (max-height: 800px){
    .grid {
        width: 80vw;
    }
}
@media screen and (orientation: portrait) {
    .grid {
        height: 73vh;
    }
}
@media screen and (orientation: landscape) and (max-width: 1920px) {
    .game-container {
        height: 68vh;
    }
}